.box1{
    width: 3em; 
}
.box2{
    margin-bottom: 2em;
}
.box3{
    width: 3em;
}
.box4{
    width: 3em; 
    height: 3em;
}
.box5{
    width: 3em; 
    height: 3em;
}
#box6{
    margin-top: 5em;
}
.box7{
    display: flex; 
    justify-content:center;
}
.id{
    margin: 1em 3em;
}
#box8{
    width: 10em; 
    height: 10em;
}
.str{
    width: 2em;
}
#box9{
    margin-bottom: 2em;
}
